body.bg-image {
    background-image: url('https://pagina-inicial--charlesaganeti.repl.co/sobrenos/fundo%20duzmotoka%202.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

.col-md-6 h3 {
    line-height: 1.6;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

p {
    line-height: 1.6;
    color: #ffffff;
    font-size: 20px;
    font-weight: regular;
}

.my2 {
  color: #ffffff;
}

a {
    color: #ffffff;
    font-weight: bold;
}

a:hover {
    color: #d5ed86;
;
}

.col-md-6 a i {
    font-size: 30px;
    font-weight: bold;
}

header {
    background-color: #20226a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.back-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    font-weight: bold;
}

.back-button:hover {
    text-decoration: underline;
}
